---
const { title, id, goal } = Astro.props;
---

<!-- <a -->
<!--   href="#" -->
<!--   class="border bg-slate-50 group duration-200 hover:bg-blue-500 hover:text-white hover:border-blue-200 transition border-slate-200 p-4 hover:border rounded-lg flex-1 justify-between inline-flex gap-4 flex-col" -->
<!--   >{title}</a -->
<!-- > -->
<!---->
<label
  for={id}
  class="border bg-slate-50 group duration-200 hover:bg-blue-500  hover:border-blue-200 transition border-slate-200 p-4 hover:border rounded-lg flex-1 justify-between inline-flex gap-4 flex-col"
  :aria-checked=`goal == '${goal}'`
  :class=`goal == '${goal}' ? 'border border-blue-500 text-white shadow-inner bg-blue-500' : 'bg-white border-gray-200  hover:bg-blue-100/60'`
>
  <input
    x-model="goal"
    id={id}
    type="radio"
    name="position-choice"
    value={goal}
    class="sr-only"
    aria-labelledby="size-choice-0-label"
  />
  <span>{title}</span>
</label>
